<form method="POST" action="/new">
    <div>
        <label for="name">Name</label>
        <input name="messageUser" id="name" type="text" required>
    </div>

    <div>
        <label for="message">Message</label>
        <input name="messageText" id="message" type="text" required>
    </div>
    <button type="submit">Send Message</button>
</form>