<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <title><%= idMessage %></title>
</head>
<body>
    <div class="messages">
        <div><%= message.user %></div>
        <div><%= message.text %></div>
        <div><%= message.added %></div>
    </div> 
</body>
</html>