<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <title><%= message.id %></title>
</head>
<body>
    <div class="messages">
        <div><%= message.username %></div>
        <div><%= message.message %></div>
        <div><%= message.date %></div>
    </div> 
</body>
</html>